.bkgrd-img {
    --background: url('/assets/cloud-wallpaper.jpg') no-repeat center/cover fixed;
  }

#num-buttons {
  margin-left: 4.5rem;
}

#done {
  margin-top: 4rem;;
  margin-left:6.5rem;
}

#prompt {
  margin-left: 1rem;
  padding-bottom: 1rem;
}