<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sleepiness Scale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>How sleepy are you feeling?</h1>
<ion-chip (click)="s1()">1</ion-chip>
<ion-chip (click)="s2()">2</ion-chip>
<ion-chip (click)="s3()">3</ion-chip>
<ion-chip (click)="s4()">4</ion-chip>
<ion-chip (click)="s5()">5</ion-chip>
<ion-chip (click)="s6()">6</ion-chip>
<ion-chip (click)="s7()">7</ion-chip>

<ion-button (click)="done()" routerLink="/home">Done</ion-button>

</ion-content>
