.bkgrd-img {
    --background: url('/assets/cloud-wallpaper.jpg') no-repeat center/cover fixed;
  }

.datetime-wheel {
    margin-left: 2.25rem;
    margin-top: 2rem;
}

#done-button {
  margin-left: 11rem;
  margin-top: 3rem;
}