<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>sleeptimesTEST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-datetime [(ngModel)]="sleepy" [preferWheel]="true" (ionChange)="sleepDate(sleepy)">
    <span slot="title">What time did you go to sleep?</span>
  </ion-datetime>
  <ion-datetime [(ngModel)]="wakey" [preferWheel]="true" (ionChange)="wakeDate(wakey)">
    <span slot="title">What time did you wake up?</span>
  </ion-datetime>
  <ion-button (click)="done()" routerLink="/home" >Done</ion-button>

</ion-content>
